<div class="ibox ">
    <div class="ibox-content mailbox-content">
        <div class="file-manager">
            <a class="btn btn-block btn-primary compose-mail" href="/Message/SendMail">Mail Gönder</a>
            <div class="space-25"></div>
            <h5>Folders</h5>
            <ul class="folder-list m-b-md" style="padding: 0">
                <li><a href=/Message/Index> <i class="fa fa-inbox "></i> Gelen Kutusu <span class="label label-warning float-right">16</span> </a></li>
                <li><a href=/Message/SendersMail> <i class="fa fa-envelope-o"></i> Gönderilernler</a></li>
                <li><a href="mailbox.html"> <i class="fa fa-certificate"></i> Önemli</a></li>
                <li><a href="mailbox.html"> <i class="fa fa-file-text-o"></i> Taslaklar <span class="label label-danger float-right">2</span></a></li>
                <li><a href="mailbox.html"> <i class="fa fa-trash-o"></i> Çöpler</a></li>
            </ul>


            <h5 class="tag-title">Etiketler</h5>
            <ul class="tag-list" style="padding: 0">
                <li><a href=""><i class="fa fa-tag"></i> ERP</a></li>
                <li><a href=""><i class="fa fa-tag"></i> Muhasebe</a></li>
                <li><a href=""><i class="fa fa-tag"></i> Restoran</a></li>
                <li><a href=""><i class="fa fa-tag"></i> Modül</a></li>
                <li><a href=""><i class="fa fa-tag"></i> Mesajlar</a></li>
                <li><a href=""><i class="fa fa-tag"></i> Film</a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>